{% extends "main.html" %}
{% block title %}Gamemaster Overview{% endblock %}
{% block content %}

<h1>Overview</h1>
<div class=current_player_indicator>You are: The Gamemaster</div>

<table class=mapping>
    <tr><th>Player</th><th>Role</th></tr>
{% for player, role in mapping.items() %}
    <tr><td>{{player}}</td><td>{{role}}</td></tr>
{% endfor %}
</table>

<table class=gameinfo>
    <tr><td>Number of players:</td><td>{{ num_players }}</td></tr>
    <tr><td>Numer of werewolves:</td><td>{{ num_werewolves }}</td></tr>
    <tr><td>Special roles in game:</td><td>
        <ul>
            {% for role in used_roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
    </td></tr>
</table>


<p>
<a href={{ url_for('create_game') }}>New game</a>
</p>

{% endblock %}
